<!doctype html>
<html ng-app="phonecatApp" ng-controller="PhoneListCtrl">

	<head>
		<title ng-bind-template="{{query}}">Google Phone Gallery</title>
		<link rel="stylesheet" href="../common/bootstrap.min.css">
		<link rel="stylesheet" href="app.css">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!--Sidebar content-->

					Search: <input ng-model="query">

				</div>
				<div class="span10">
					<!--Body content-->
					<ul class="phones">
						<li ng-repeat="phone in phones | filter:query">
							{{phone.name}}
							<p>{{phone.snippet}}</p>

						</li>
					</ul>

				</div>
			</div>
		</div>
		<script src="../common/angular.min.js" type="text/javascript"></script>
		<script>
			var phonecatApp = angular.module('phonecatApp', []);
			phonecatApp.controller('PhoneListCtrl', function($scope) {
				$scope.phones = [{
					'name': 'Nexus S',
					'snippet': 'Fast just got faster with Nexus S.'
				}, {
					'name': 'Motorola XOOM™ with Wi-Fi',
					'snippet': 'The Next, Next Generation tablet.'
				}, {
					'name': 'MOTOROLA XOOM™',
					'snippet': 'The Next, Next Generation tablet.'
				}];
			});
		</script>
	</body>

</html>